.income{
    border: 5px solid #73fcae;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 7px;
        padding: 1rem;
      display: flex;
      position: relative;
      flex-direction: column;
    max-width: 800px;
    gap:2rem;
    line-height: 14px;
}
@media screen and (max-width: 480px) {
  .income{
    font-size: 14px;
    line-height: 13px;
}
}
@media screen and (max-width: 600px) and(min-width: 480px){
  .income{
    font-size: 16px;
    line-height: 14px;
}
}